@import url('https://fonts.googleapis.com/css?family=Julee&display=swap');

.game-main {
    background-color: whitesmoke;
    height: 115vh;
}

.game-title {
    position: absolute;
    top: 15vh;
    left: 5vh;
    font-family: 'Julee', cursive;
}

.game-text {
    position: absolute;
    top: 25vh;
    left: 5vh;
    font-family: 'Julee', cursive;
    font-weight: bold;
    font-size: 20px;
}